// colors

$button-color: #699900;
$text-darkblue: #2c2f3c;
$underline-color: #14a0c7;
$background: #ffffff;
$bottom-text: #a1c3ce;
$gradient-start: #639315;
$gradient-end: #2c5adc;

// content width
$wrapper-width: 960px;
$margin-left:110px;
$padding-header: 10px 480px 0 0;

//images
$header-img: url("../img/m-h-day.jpg");